
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Product Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">IsDeleted</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let row of TableData" >
        <ng-container *ngIf="!row.isDeleted">
        <td>
          {{
            row.productId
          }}
         </td>
       <td>
        {{
          row.name
        }}
  
       </td>
       <td>
        {{
          row.price
        }}
       </td>
       <td>
        {{
          row.isDeleted
        }}
       </td> 
       <td>
        {{
          row.categoryId
        }}
       </td>
       </ng-container> 
      </tr>
    </tbody>
  </table>
  