<body>
  <div class="container">
    <div class="heading">
      <h1>WELCOME!</h1>
    </div>
    <div class="tiles">
      <div class="grid-container">
        <div class="grid-item">
          <button mat-button type="button" class="button" (click)="product()">
            <img src="../../../assets/Images/Product2.png" class="icons" />
          </button>
          <span class="tile-text"> PRODUCT </span>
        </div>
        <div class="grid-item">
          <button mat-button type="button" class="button" (click)="stock()">
            <img src="../../../assets/Images/Inventory2.png" class="icons" />
          </button>
          <span class="tile-text"> STOCK </span>
        </div>
        <div class="grid-item">
          <button mat-button type="button" class="button" (click)="category()">
            <img class="icons" src="../../../assets/Images/Category.png" />
          </button>
          <span class="tile-text">CATEGORY</span>
        </div>
        <div class="grid-item">
          <button mat-button type="button" class="button" (click)="home()">
            <img class="icons" src="../../../assets/Images/Home.png" />
          </button>
          <span class="tile-text">HOME</span>
        </div>
        <div class="grid-item">
          <button mat-button type="button" class="button" (click)="shop()">
            <img class="icons" src="../../../assets/Images/Shop.png" />
          </button>
          <span class="tile-text">SHOP</span>
        </div>
      </div>
    </div>
  </div>
</body>
