<!-- <div class="container">
    <div class="top-bar"><app-top-bar></app-top-bar></div>
    <div class="filter"><app-filters></app-filters></div>
    <div class="product-list"><app-product-list></app-product-list></div>
    </div> -->
<div class="container">
  <div class="top-bar"><app-top-bar></app-top-bar></div>
  <div class="second-top-bar"><app-second-top-bar></app-second-top-bar></div>
  <div class="content">
    <div class="filter" style="background-color: white;"><app-filters></app-filters></div>
    <div class="product-list" style="background-color: white"><app-product-list></app-product-list></div>
  </div>
</div>
