<div class="container-top-bar">
  <div class="logo-text">
    <span class="heading-text">E2</span
    ><mat-icon class="logo-icon"> shopping_cart </mat-icon>
  </div>
  <div class="search-box">
    <mat-form-field floatLabel="never" style="width: 40%">
      <input
        matInput
        placeholder="Search for products,brands and more "
        class="search-input"
      />
      <mat-icon matSuffix class="search-icon">search</mat-icon>
      <!-- <mat-icon class="search-icon">search</mat-icon> -->
    </mat-form-field>
    <button matButton class="login-button" type="button">Login</button>

    <mat-label class="top-bar-label"> Become a Seller</mat-label>
    <mat-label class="top-bar-label"> More</mat-label>
    <div class="cart-container">
      <div class="cart-icon-continaer">
        <mat-icon class="cart-icon"> shopping_cart </mat-icon>
      </div>
      <div class="cart-labe-container">
      <!-- <mat-label class="cart-label">Cart</mat-label> -->

      </div>
    </div>
  </div>
  <!-- <mat-icon>dashboard</mat-icon> -->
</div>
