<div class="container-top-bar">
  <div class="labels">
    
    <mat-label class="label">Men</mat-label>
    <mat-label class="label">Women</mat-label>
    <mat-label class="label">Kids</mat-label>
    <mat-label class="label">Toys</mat-label>
    <mat-label class="label">Mobiles</mat-label>
    <mat-label class="label">Laptop</mat-label>
    <mat-label class="label">Home Appliances</mat-label>
    <mat-label class="label">Headphones</mat-label>
    <mat-label class="label">Apparel</mat-label>
  </div>
</div>
