<section class="vh-90">
  <div class="heading">
    <h1>
      E2
    </h1>
  </div>

  <div class="container-fluid h-custom" style="padding-top: 5%">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="../../../assets/Images/Cart.jpg"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="form3Example3"
              [(ngModel)]="username"
              class="form-control form-control-lg"
              placeholder="Enter a valid Username"
            />
            <label class="form-label" for="form3Example3">Username</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="form3Example4"
              [(ngModel)]="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
            <label class="form-label" for="form3Example4">Password</label>
          </div>
<!-- 
          <div class="d-flex justify-content-between align-items-center">
            

            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                type="checkbox"
                id="form2Example3"
              />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div> -->

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              (click)="Login()"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a href="#!" class="link-danger">Register</a>
            </p>
            <!-- <p>
              {{result.name}}              {{result.isActive}}              {{result.userId}}
            </p> -->
          </div> 
      </div>
    </div>
  </div>
</section>
